$verde: hsl(90, 92%, 43%);

.container {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  max-width: 100%;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.scroll {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

  .logo,
  li button,
  li a {
    color: #fff;
    opacity: 1;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  width: 100%;
}

.logo {
  font-size: 1rem;
  // opacity: 0.7;
  color: $verde;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;

  li {
    display: flex;
    align-items: center;
  }

  li button,
  li a {
    color: $verde;
    opacity: 0.7;
    transition: opacity 0.4s;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: unset;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      display: block;
      position: relative;
      bottom: -0.5rem;
      height: 2px;
      // transition: width 0.2s;
    }
  }

  li button.active,
  li a.active {
    &::after {
      position: absolute;
      width: 100%;
      background-color: #fff;
      transition: width 0.2s;
    }
  }
}

.menu ul:nth-child(1) {
  display: flex;
  gap: 1rem;

  li {
    color: #fff;
  }
}

.social_links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@media (max-width: 1023px) {
  .menu {
    display: none;
  }
}

.button_toggle {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 0;

  @media (min-width: 1024px) {
    display: none;
  }

  svg {
    color: $verde;
  }
}

.scroll .button_toggle {
  svg {
    color: #fff;
  }
}

.offcanvas_Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.offcanvas_body {
  display: flex;
  justify-content: center;
  height: 100%;
}

.mobileMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
