$verde: hsl(90, 92%, 43%);

.container {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.header {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  max-width: 100%;

  background-color: hsl(0, 0%, 8%);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  width: 100%;
}

.logo {
  color: $verde;
  font-size: 1rem;
  @media (min-width: 400px) {
    font-size: 1.5rem;
  }
}
.menu {
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }

  ul.navbar {
    display: none;
    @media (min-width: 1024px) {
      display: inherit;
    }
  }

  li {
    display: flex;
    align-items: center;
  }

  li button,
  li a {
    color: $verde;
    opacity: 0.7;
    transition: opacity 0.4s;
    font-size: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: unset;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      display: block;
      position: relative;
      bottom: -0.5rem;
      height: 2px;
    }
  }

  li button.active,
  li a.active {
    opacity: 1;
    &::after {
      position: absolute;
      width: 100%;
      background-color: #fff;
      transition: width 0.2s;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    @media (min-width: 1024px) {
      width: 25px;
      height: 25px;
    }
  }
}

.scroll {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

  .logo,
  li button,
  li a {
    color: #fff;
    opacity: 1;
  }
}

.menu:not(.mobileMenu) .navbar {
  gap: 3rem;
  + div {
    display: flex;
    gap: 1rem;
  }

  li {
    color: #fff;
  }
}

.social_links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.button_toggle {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 0;

  @media (min-width: 1024px) {
    display: none;
  }

  svg {
    color: $verde;
  }

  &:focus-visible {
    outline: unset;
  }
}

.scroll .button_toggle {
  svg {
    color: #fff;
  }
}

.offcanvas_Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  a {
    color: #fff;
  }
}

.offcanvas_body {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mobileMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  ul {
    li,
    button,
    svg {
      display: inline-block;
      text-align: center;
      font-size: 1.3rem;
      opacity: 1;
      color: #fff;
    }
  }
  ul:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;

    li button.active,
    li a.active {
      &::after {
        position: absolute;
        width: 0%;
        background-color: transparent;
        transition: width 0.2s;
      }
    }
  }
}

.bgDark {
  background-color: rgba(0, 0, 0, 0.85) !important;
  backdrop-filter: blur(5px);
}
