.offcanvas {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  z-index: 1045;
  visibility: hidden;
  background-clip: padding-box;
  outline: 0;
  bottom: 0;
  background-color: #fff;
}

.offcanvas.offcanvas-end {
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
  top: 0;
  right: 0;
  width: 400px;

  &:not(.show) {
    transform: translateX(100%);
  }
}

.offcanvas-content {
  height: calc(100vh - 50px);
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.offcanvas-overlay.fade {
  opacity: 0;
}

.offcanvas-overlay.show {
  opacity: 0.5;
}

.show {
  visibility: visible;
}

.fade {
  transition: opacity 0.15s linear;
}
